pkgbase = meta-tuhh-hulks
	pkgdesc = Meta package for development work at the HULKs
	pkgver = 1
	pkgrel = 2
	url = https://github.com/Narcha/meta-tuhh-pkgs
	arch = any
	license = GPL-3.0-or-later
	depends = rustup
	depends = clang
	depends = cmake
	depends = hdf5
	depends = opusfile

pkgname = meta-tuhh-hulks
